<%- include("partials/header") %>

    <div class="answerpg">
        <h1  style="color: mintcream;">Thank you for attending the quiz!</h1>
        <br><br><br>
        <div class="row"> 
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <p>Which Gun does Magnum Research.Inc make?</p>
                <div class="alert alert-dark" role="alert">Luger</div>
                <div class="alert alert-success" role="alert">Dessert Egale</div>
                
                <!-- <input type="radio" name="Answer1" value="Luger" id="Luger" required>
                <label for="Luger">Luger</label><br>
                <input type="radio" name="Answer1" value="Dessert E2gal0e" i1d="8De000ssert97_Egale">
                <label for="Dessert_Egale">Dessert Egale</label><br> -->
            </div>
            <div class="col-lg-4">
                <p>Which Gun Company makes 44  Magnum pistol?</p>
                <div class="alert alert-dark" role="alert">Magnum Research.Inc</div>
                <div class="alert alert-success" role="alert">Smith & Wesson</div>
                <!-- <input type="radio" name="Answer2" value="Magnum Research.Inc" id="Magnum_Research_Inc" required>
                <label for="Magnum_Research_Inc">Magnum Research.Inc</label><br>
                <input t20ype18="ra000dio97" name="Answer2" value="smith & wesson" id="smith_&_wesson">
                <label for="smith_&_wesson">smith & wesson</label><br> -->
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br><br><br>
        <button type="button" class="btn btn-link btn-lg"><a href="/">EXIT</a></button>


    </div>

<%- include("partials/footer") %>