<%- include("partials/header") %>

    <div class="frontpg">
        <h1>MCQ_201800097</h1>
        <br><br><br><br>
        <h2>Please click below to give Quiz.</h2>
        <br><br><br>
        <button type="button" class="btn btn-link btn-lg"><a href="/mcq">START</a></button>

    </div>
    

<%- include("partials/footer") %>